<div class="px-4 py-3">
    <h1 class="d-inline pointer" routerLink="home">
        <b>
            <span class="text-warning">JAC</span>
        </b>
        <span>shop</span>
    </h1>
        
    <div class="ricerca">
        <input type="text" [(ngModel)]="ricerca">
        <button (click)="cerca()">
            <i class="bi bi-search"></i>
        </button>
    </div>

    <div class="float-right">
        <button class="btn btn-warning" routerLink="/categorie">Categorie</button>
        <button class="btn btn-danger" (click)="apriModal('preferiti')">Preferiti</button>
        <button class="btn btn-primary mr-2" (click)="apriModal('carrello')">Carrello</button>
    </div>
</div>