<div class="row g-0">
    <h1 class="col-12">le tue CHAT</h1>
    <div class="col-4">
        <div  class="pl-4" *ngFor="let persona of persone" (click)="setChat(persona)">
            <i [ngClass]=" 'bi bi-' + getNnotifiche(persona) + '-circle-fill' " 
               *ngIf="getNnotifiche(persona) > 0"></i>
            {{persona}}
        </div>
    </div>
    <div class="col-8" *ngIf="chatAperta != ''">
        <app-chat [destinatario]="chatAperta" 
        [messaggi]="getMessaggiFiltrati(chatAperta)" ></app-chat>
    </div>
    <!-- se non c'è nessuna chat aperta mostro un testo che avvisa l'utente di scegliere una chat -->
    <div class="col-8" *ngIf="chatAperta == ''">
        <h1> 
            Scegli una chat per mandare dei messaggi
        </h1>
    </div>
</div>