<mat-card style="height: 100%;">
    <mat-card-header>
        <mat-card-title>
            {{data.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{data.category}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [routerLink]="'/prodotto/'+data.id">
        <img [src]="data.thumbnail" class="anteprima">
        <div>
            <p>{{data.description | reduceText : 50 }}</p>
        </div>
        <div class="row">
            <div class="col-md-3">Brand: </div>
            <div class="col-md-9">{{data.brand | changeCase : 'lower'}}</div>
        </div>
        <div>
            <span [ngClass]="data.discountPercentage!=0 ?
                'prezzoScontato':''">
                {{data.price}}€ 
            </span>
            <span *ngIf="data.discountPercentage!=0" >
                <span class="scontoPercentuale">
                     -{{data.discountPercentage}}%
                </span>
                <span class="nuovoPrezzo">
                     {{scontaPrezzo()}}€
                </span>
            </span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        
        <app-car-pre-button
            [data]="data"
            [mode]="'carrello'"
        ></app-car-pre-button>

        <app-car-pre-button
            [data]="data"
            [mode]="'preferiti'"
        ></app-car-pre-button>

        <button class="btn btn-md btn-primary" mat-button>Acquista</button>
        
    </mat-card-actions>
</mat-card>
