<div> <!-- tutta la chat-->
    <div class="intestazione"> <!-- intestazione con immagine e nome dello user -->
        <img [src]="user.image">
        <div class="nome">
            <span>{{destinatario}}</span>
        </div>
    </div>
    <div> <!-- tutti i messaggi -->
        <app-message *ngFor="let mes of messaggi" [data]="mes" >

        </app-message>
    </div>
    <div class="input">
        <input class="mr-4 testo" type="text" [(ngModel)]="testoMessaggio"> 
        <!-- testoMessaggio sarà sempre uguale al valore dell'input -->
        <button class="btn btn-primary" (click)="mandaMessaggio()" >
            INVIA
        </button>
    </div>
</div>
