<div class="row" *ngIf="!loading">
    <div class="col-md-6">
        <ng-image-slider 
            [images]="immagini"
        >
        </ng-image-slider>
    </div>
    <div class="col-md-6">
        <h2>{{prodotto.title}}</h2>
        <span>{{prodotto.description}}</span>
        <span>Marca: {{prodotto.brand}}</span>
        <span>Categoria: {{prodotto.category}}</span>
        <span>Prezzo: {{prodotto.price | currency:"EUR"}}</span>
        <br>
        <app-car-pre-button
            [mode]="'carrello'"
            [data]="prodotto"
        ></app-car-pre-button>
        <app-car-pre-button
            [mode]="'preferiti'"
            [data]="prodotto"
        ></app-car-pre-button>
    </div>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>