<mat-card style="height: 100%;">
    <mat-card-header>
        <mat-card-title>
            {{data.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{data.category}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img [src]="data.thumbnail" class="anteprima">
        <div>
            <p>{{mostraDescrizione()}}</p>
        </div>
        <div class="row">
            <div class="col-3">Brand: </div>
            <div class="col-9">{{data.brand}}</div>
        </div>
        <div>
            <span [ngClass]="data.discountPercentage!=0 ?
                'prezzoScontato':''">
                {{data.price}}€ 
            </span>
            <span *ngIf="data.discountPercentage!=0" >
                <span class="scontoPercentuale">
                     -{{data.discountPercentage}}%
                </span>
                <span class="nuovoPrezzo">
                     {{scontaPrezzo()}}€
                </span>
            </span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="btn" (click)="aggiungiAcarrello()">
            <i *ngIf="!eNelCarrello()" class="bi bi-cart"></i>
            <i *ngIf="eNelCarrello()" class="bi bi-cart-fill"></i>
        </button>

        <button *ngIf="!eNeiPreferiti()" class="btn" (click)="aggiungiApreferiti()">
            <i  class="bi bi-balloon-heart"></i>
        </button>

        <button *ngIf="eNeiPreferiti()" class="btn" (click)="rimuoviDapreferiti()">
            <i class="bi bi-balloon-heart-fill"></i>
        </button>
        <button class="btn btn-md btn-primary" mat-button>Acquista</button>
    </mat-card-actions>
</mat-card>
