<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading">
    <h1>I tuoi ordini </h1>
    <app-esporta-pdf 
        [testoBottone]="'Scarica Report Ordini'"
        [data]="prodotti"
        [titolo]="'Report Ordini'"
        [colonneDaMostrare]="colonnePerPDF">
    </app-esporta-pdf>
    <table mat-table [dataSource]="prodotti" >

        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef >Img</th>
            <td mat-cell *matCellDef="let prod" >
                <img [src]="prod.thumbnail">
            </td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef >Nome</th>
            <td mat-cell *matCellDef="let prod">{{prod.title}}</td>
        </ng-container>

        <ng-container matColumnDef="descrizione">
            <th mat-header-cell *matHeaderCellDef >Descrizione</th>
            <td mat-cell *matCellDef="let prod">{{prod.description}}</td>
        </ng-container>

        <ng-container matColumnDef="prezzo">
            <th mat-header-cell *matHeaderCellDef >Prezzo</th>
            <td mat-cell *matCellDef="let prod">{{prod.price  | currency:'EUR'}}</td>
        </ng-container>

        <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef >QT</th>
            <td mat-cell *matCellDef="let prod">{{prod.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="totale">
            <th mat-header-cell *matHeaderCellDef >Tot.</th>
            <td mat-cell *matCellDef="let prod">
                {{prod.quantity * prod.price | currency:'EUR'}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colonneMostrate"></tr>
        <tr mat-row *matRowDef="let row;columns :colonneMostrate"></tr>

    </table>
</div>